/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public/pdf/persons/*.pdf
/public/pdf/persons/1234.pdf
/public/pdf/persons/12345.pdf
/public/pdf/persons/2233.pdf
/public/pdf/fed_entitys
/public/pdf/fed_entitys/*.pdf
/public/pdf/municipalitys/*.pdf
/public/pdf/fed_entitys/.pdf
/public/pdf/fed_entitys/123.pdf
/public/pdf/fed_entitys/3434.pdf
/public/pdf/municipalitys/1111.pdf
/public/pdf/municipalitys/222.pdf
