.sidebar-menu{
    background: #003756 !important;
}

.page-container .sidebar-menu #main-menu li ul > li > a {
    background-color: #003756 !important;
    padding-left: 40px;
    font-family: "Century Gothic";
    font-weight: bold;
}

.logo-env{
    background: #F4F4F4 !important;
    padding: 0px;
    height: 100px;
}
.logo-env a img{
    margin-top: -20px;
    margin-left: -10px;
    width: 170px;
}

input[type='number'] {
    -moz-appearance:textfield;
}
.select2-container .select2-choice, .select2-result-label {
    height: 30px;
    overflow: auto;
    max-height: 30px;
}
.select2-arrow, .select2-chosen {
    line-height: 30px;
}

.img-circle{
    width: 20px;
    height: 20px;
}

.main-content{
    font-family: 'Open Sans Light';
    font-style: normal;
    font-weight: 300;
    src:url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRa1RVmPjeKy21_GQJaLlJI.woff) format('woff');
}

.upper_icons{
    font-family: "Century Gothic";
    font-weight: bold;
}